:root {
    --main-color: #038367;
}

.main-page {
    width: 100%;
    padding-top: 50px;
}

.task-tip-container {
    margin: auto;
    padding: 0 7px 7px 7px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--main-color) 2px solid;
}

@media(max-width: 1200px) {
    .task-tip-container {
        width: 80%;
    }
}

@media(max-width: 800px) {
    .task-tip-container {
        width: 95%;
    }
}

.task-tip-container h1 {
    margin: 0;
    font-size: 2.5rem;
    font-family: cursive;
    color: var(--main-color);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

@media(max-width: 550px) {
    .task-tip-container h1 {
        font-size: 1.75rem;
    }
}

.task-tip-container a {
    padding: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 25px;
    font-size: 1.3rem;
}

@media(max-width: 550px) {
    .task-tip-container a {
        font-size: 1rem;
        padding: 10px;
    }
}

.task-tip-container a span {
    margin: 0 5px -5px 0;
}

.task-tip-container a:hover {
    background-color: #fff;
    color: var(--main-color);
    outline: var(--main-color) 2px solid;
}

.tasks-container {
    margin: 50px auto;
    padding: 0 7px 7px 7px;
    width: 50%;
    max-width: 700px;
    font-family: cursive;
}

@media(max-width: 900px) {
    .tasks-container {
        width: 80%;
    }
}

.task-container {
    list-style: none;
    padding: 15px;
    margin-bottom: 15px;
    border: 6px double rgba(128, 128, 128, 0.436);
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 28%);
    color: var(--main-color);
    background-color: #fff;
}

.task-container .rank_and_date_container {
    display: flex;
    justify-content: space-between;
}

.task-container .rank_and_date_container .rank {
    padding: 2px 5px 2px 5px;
    border-radius: 35px;
    border: 1px solid var(--main-color);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    background-color: var(--main-color);
    color: #fff;
}

.task-container .rank_and_date_container .date {
    font-size: 1.15rem;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.task-container h2 {
    margin: 7px 0 7px 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.task-container p {
    margin: 5px 0 20px 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.15rem;
    font-weight: bold;
}

.task-container .task-status_and_delete-container {
    display: flex;
    justify-content: space-between;
}

.task-container .task-status_and_delete-container select {
    padding: .5rem;
    border-radius: 7px;
    font-size: 1rem;
    text-align: center;
    color: var(--main-color);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.596);
}

.task-container .task-status_and_delete-container .delete {
    color: var(--main-color);
    font-size: 2rem;
}

.task-container .task-status_and_delete-container .delete:hover {
    cursor: pointer;
    color: darkorange;
}

.status-message {
    text-align: center;
    font-family: cursive;
    color: rgb(62, 134, 197);
    margin: 10px 0 0 0;
}
