Define main color variable
:root {
    --main-color: #038367;
}

/* Task Creation Container */
.task-creation-container {
    width: 700px;
    min-height: 400px;
    margin: 100px auto 50px auto;
    padding: 15px;
    border: 6px double rgba(128, 128, 128, 0.436);
    border-radius: 7px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 28%);
    color: var(--main-color);
    background-color: #fff;
}

.task-creation-container h1 {
    margin-bottom: 45px;
    text-align: center;
    font-family: cursive;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    color: var(--main-color);
}

.task-creation-container form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0 45px 0 45px;
    font-family: cursive;
}

.task-creation-container form input {
    margin: 0 auto 12px auto;
    width: 25%;
    padding: 7px;
    border-radius: 25px;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    font-size: 1rem;
    font-family: cursive;
}

.task-creation-container form input:focus {
    outline: none;
    border: 2px solid darkorange;
}

@media(max-width: 800px) {
    .task-creation-container form input {
        width: 150px;
    }
}

.task-creation-container form textarea {
    min-height: 100px;
    padding: 5px;
    margin-bottom: 7px;
    border-radius: 7px;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    font-size: 1rem;
    font-family: cursive;
}

.task-creation-container form textarea:focus {
    outline: none;
    border: 3px solid darkorange;
}

.task-creation-container form select {
    width: 25%;
    margin: 0 auto 10px auto;
    padding: 5px;
    text-align: center;
    border-radius: 7px;
    border: 2px solid var(--main-color);
    font-family: cursive;
    color: #077a61;
    font-size: 1rem;
}

.task-creation-container form select:focus {
    outline: none;
    border: 3px solid darkorange;
}

.task-creation-container form button {
    padding: 15px;
    width: 30%;
    margin: auto;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 1.3rem;
}

.task-creation-container form button:hover {
    background-color: #fff;
    color: #00a884;
    outline: #00a884 2px solid;
    cursor: pointer;
}

@media(max-width: 800px) {
    .task-creation-container form button {
        width: 175px;
    }
}

.task-creation-container .new-task-msg {
    text-align: center;
    font-family: cursive;
    color: rgb(62, 134, 197);
    margin: 10px 0 0 0;
}

/* Return Home Page Container */
.return-home-page-container {
    font-family: cursive;
    color: var(--main-color);
    text-align: center;
}

.return-home-page-container .arrow-icon {
    font-size: 4rem;
}

.return-home-page-container .arrow-icon:hover {
    cursor: pointer;
    color: darkorange;
}
